<!-- o Denominación social

o C.I.F

o  Web

o Teléfono

o Condiciones “laborales”

o Teléfono de contacto

o Tipo de cocina que se realiza en el establecimiento

o Señalar como nos han conocido, etc --> <div class="jumbotron stager fondo-morado" style="height: auto; margin-bottom: 3px"> <!-- bs-docs-header --> <div style=""> <h1 class="">¿Eres empresa?</h1> <p class="" id="">Los mejores profesionales en Cookstage</p> </div> </div> <div class="panel panel-primary box-shadow" style="margin: 0 30%"> <div class="panel-heading" style="background-color: #C86308"> <h3 class="panel-title">Login empresa</h3> </div> <div class="panel-body" style="background-color: #F7DB98"> <div class="row"> <div class="col-md-12 padding-20-all"> <input type="text" placeholder="Usuario" class="form-control margin-1em"> <input type="password" placeholder="Contraseña" class="form-control margin-1em"> <a href="#/bolsaempleo"><button class="btn btn-success form-control">LogIn</button></a> <a href="#/altaempresa" class="btn btn-info form-control">¡Date de alta!</a> </div> </div> </div> </div>

<!-- 
<!-- o Denominación social

o C.I.F<!-- bs-docs-header

o  Web

o Teléfono

o Condiciones “laborales”

o Teléfono de contacto

o Tipo de cocina que se realiza en el establecimiento

o Señalar como nos han conocido, etc  <div class="jumbotron stager fondo-morado" style="height: 168px; margin-bottom: 3px"> <div class="padding-left-20" style=""> <h1 class="h1-mapa main">¿Eres empresa?</h1> <p class="contacto main" id="contacto-main">Los mejores profesionales en Cookstage</p> </div> </div> <div class="panel panel-primary box-shadow" style="margin: 0 30%"> <div class="panel-heading" style="background-color: #C86308"> <h3 class="panel-title">Login empresa</h3> </div> <div class="panel-body" style="background-color: #F7DB98"> <div class="row"> <div class="col-md-12 padding-20-all"> <input type="text" placeholder="Usuario" class="form-control margin-1em"> <input type="password" placeholder="Contraseña" class="form-control margin-1em"> <a href="#/bolsaempleo"><button class="btn btn-success form-control">LogIn</button></a> <a href="#/altaempresa" class="btn btn-info form-control">¡Date de alta!</a> </div> </div> </div> </div>
 -->